{% extends "base.html" %}
{% block content %}
<!-- code in here to display a list of books-->

<h2>{{borrower[1]}} {{borrower[2]|upper}} (combined)</h2>
<p><a href="/borrower-combined?id={{borrower[0]}}&mode=edit">Edit</a></p>

{% if mode=='edit' %}
    <form action="/borrower/edit/update" method="post" id="borrower_form" name="borrower_form" >
        <input type="hidden" name="id" id="id" value="{{borrower[0]}}">
{% elif mode=='add' %}
    <form action="/borrower/add/insert" method="post" id="borrower_form" name="borrower_form" >
{% endif %}

<table class="table">   <!-- Bootstrap style applied -->
    {% if mode=='edit' %}
        <tr>
            <td class="book-detail-row-title">ID</td>
            <td>{{borrower[0]}}</td>
        </tr>
    {% endif %}
    <tr>
        <td class="book-detail-row-title">First name</td>   <!-- Style from styles.css applied -->
        {% if mode=='display' %}
            <td>{{borrower[1]}}</td>
        {% elif mode in('edit','add') %}
            <td><input type="text" name="first_name" id="first_name" 
                {% if mode=='edit' %} value="{{borrower[1]}}"{% endif %}
                ></td>
        {% endif %}
    </tr>
    <tr>
        <td class="book-detail-row-title">Family name</td>
        {% if mode=='display' %}
            <td>{{borrower[2]}}</td>
        {% elif mode in('edit','add') %}
            <td><input type="text" name="last_name" id="last_name" 
                {% if mode=='edit' %} value="{{borrower[2]}}"{% endif %}
                ></td>
        {% endif %}
    </tr>
    <tr>
        <td class="book-detail-row-title">Date of birth</td>
        {% if mode=='display' %}
            <td>{{borrower[3].strftime('%d %b %Y')}}</td>
        {% elif mode in('edit','add') %}
            <td><input type="text" name="dob" id="dob" 
                {% if mode=='edit' %} value="{{borrower[3]}}"{% endif %}
                ></td>
        {% endif %}
    </tr>
    <tr>
        <td class="book-detail-row-title">Address</td>
        {% if mode=='display' %}
            <td>{{borrower[4]}}</td>
        {% elif mode in('edit','add') %}
            <td><input type="text" name="address" id="address" 
                {% if mode=='edit' %} value="{{borrower[4]}}"{% endif %}
                ></td>
        {% endif %}
    </tr>
    <tr>
        <td class="book-detail-row-title">Surburb</td>
        {% if mode=='display' %}
            <td>{{borrower[5]}}</td>
        {% elif mode in('edit','add') %}
            <td><input type="text" name="suburb" id="suburb" 
                {% if mode=='edit' %} value="{{borrower[5]}}"{% endif %}
                ></td>
        {% endif %}
    </tr>
    <tr>
        <td class="book-detail-row-title">City</td>
        {% if mode=='display' %}
            <td>{{borrower[6]}}</td>
        {% elif mode in('edit','add') %}
            <td><input type="text" name="city" id="city" 
                {% if mode=='edit' %} value="{{borrower[6]}}"{% endif %}
                ></td>
        {% endif %}
    </tr>
    <tr>
        <td class="book-detail-row-title">Postcode</td>
        {% if mode=='display' %}
            <td>{{borrower[7]}}</td>
        {% elif mode in('edit','add') %}
            <td><input type="text" name="postcode" id="postcode" 
                {% if mode=='edit' %} value="{{borrower[7]}}"{% endif %}
                ></td>
        {% endif %}
    </tr>
</table>
{% if mode in('edit','add') %}
    <input type="submit" value="Submit" />
</form>
{% endif %}

<p><br></p>


{% endblock %}