{% extends "base.html" %}
{% block content %}

<h2>People</h2>

<p><a href="/person/add">Add new person</a>

<table class="table simple-table">   <!-- Bootstrap style and our own style applied -->
    <tr>
        <!-- Table column headings -->
        <th>ID</th>
        <th>Name</th>
        <th>Room</th>
    </tr>
    {% for person in people|sort(attribute='name') %}  <!-- A FOR loop, just like in Python: people is the list of tuples, and person is the tuple in each loop -->
        <tr> <!--  Notice how the dictionary cursor output makes this page much easier to follow. --> 
            <td><a href="/person?id={{person['id']}}">{{person['id']}}</a></td>   <!-- The trick here is to include {{person['id']}} inside the <a> tag -->
            <td><a href="/person?id={{person['id']}}">{{person['name']}}</a></td>   <!--    after the GET method ? so that each link is unique to that person -->
            <td><a href="/person?id={{person['id']}}">{{person['room']}}</a></td>   <!--    with their id coded into the link -->
        </tr>
    {% endfor %}    <!-- Jinja needs to close the FOR loop though, because it doesn't use the whitespace indenting like Python -->
</table>

{% endblock %}