{% extends "base.html" %}
{% block content %}

<h2>{{person[1]}}</h2>

<p><a href="/person/edit?id={{person[0]}}">Edit</a>

<table class="table simple-table">   <!-- Bootstrap style and our own style applied to make the table look nicer than the (ugly) HTML default -->
    <tr>
        <td><b>ID</b></td>
        <td>{{person[0]}}</td>
    </tr>
    <tr>
        <td><b>Name</b></td>   
         <td>{{person[1]}}</td>
    </tr>
    <tr>
        <td><b>Room</b></td>
        <td>{{person[2]}}</td>
    </tr>
</table>

<p><br></p>


{% endblock %}