{% extends "base.html" %}
{% block content %}

<h2>{{person[1]}}</h2>

<form action="/person/edit/update" method="post">   <!-- the URL and method="post" are crucial for app.py to be able to read the data from this form -->

    <table class="table simple-table">   <!-- Bootstrap style and our own style applied -->
        <tr>
            <td>ID</td>
            <td>{{person[0]}}
                <input type="hidden" name="id" id="id" value="{{person[0]}}"></td>   <!-- Still stores ID as a value in the form, but it can't be edited by the user -->
        </tr>
        <tr>
            <td>Name</td>   
            <td><input type="text" name="name" id="name" value="{{person[1]}}"></td> <!-- Shows an input box starting with the current value, which the user can then edit -->
        </tr>
        <tr>
            <td>Room</td>
            <td><input type="text" name="room" id="room" value="{{person[2]}}"></td> <!-- Shows an input box starting with the current value, which the user can then edit -->
        </tr>
    </table>
    
    <input type="submit" value="Submit">    <!-- This is needed to submit the form -->

</form>
<p><br></p>


{% endblock %}