{% extends "base.html" %}
{% block content %}


<h1 style="text-align: center; color:darkblue"><em>A very simple web app for you to create!</em></h1>

<h3>Tasks to try:</h3>

<p>This version of simpleapp has only the home page working.  Try adding features to match the demo version:</p>

<ol>
    <li>Clicking on the List People link above shows the full list of people on the people.html page.</li>
    <li>User can click on any person on the people page and see the details for that person on a single page.</li>
    <li>A link on the person details page allows the user to update those details (but not the id).  Show the updated person detail page afterwards.</li>
    <li>A link on the people page allows a new person to be added.  Show the person detail page when the person has been added.</li>
</ol>


{% endblock %}